{% extends "base.html" %} {% block content %}
<h1>edit</h1>
<form action="{% url 'todos:update' todo.pk %}" metode="POST">
	{% csrf_token %}
	<div>
		<label for="title">제목 : </label>
		<input type="text" name="title" id="title" value="{{ todo.title }}" />
	</div>
	<div>
		<label for="content">내용 : </label>
		<textarea name="content" id="content" cols="30" rows="10">
{{ todo.content }}"</textarea
		>
	</div>
	<div>
		<label for="priority">우선순위 : </label>
		<input
			type="number"
			name="priority"
			id="priority"
			value="{{ todo.priority }}" />
	</div>
	<div>
		<label for="deadline">마감기한 : </label>
		<input
			type="date"
			name="deadline"
			id="deadline"
			value="{{ todo.deadline }}" />
	</div>
	<input
		type="checkbox"
		name="completed"
		{%
		if
		modify.completed
		%}checked{%
		endif
		%}
		value="{{ todo.completed }}" />
	<input type="submit" value="[update]" />
</form>
<a href="{% url 'todos:detail' todo.pk %}">[detail]</a>
<a href="{% url 'todos:index' %}">[back]</a>
{% endblock content %}
